body {
    margin: 0;
}
.box {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 5px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
}
.boxA {
    box-sizing: content-box;
    border: 20px solid black;
}
.boxB {
    box-sizing: border-box;
    border: 10px solid black;
}
.box_colores {
    box-sizing: border-box;
    border: 2px solid black;
    width: 70%;
    margin: auto;
    height: 50px;
    margin-top: 5px ;
    margin-bottom: 5px;
    text-align: center;
    padding: 2px;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 2rem;
}
.contenedor_colores {
    box-sizing: border-box;
    border: 5px solid blue;
    width: 90%;
    margin: auto;
    background-color: grey;
}
.rgb {
    background-color: rgba(255, 10, 255, 0.3);
}
.hexa {
    background-color: #f2f9;
}
.hue {
    background-color: hsla(180, 88%, 80%, 40%)
}