h1 {
    font-family: 'Nerko One';
    color: blueviolet;
    text-align: center;
    font-size: 100px;
}
p {
    color: red;
    font-size: 16px;
    font-family: sans-seri, 'tahoma';
    font-weight: 100;
    font-style: italic;
    text-align:justify;
    text-decoration:underline;
    line-height: 1.8;
    letter-spacing: 1px;
    text-transform: none;
}