body {
    margin: 0;
    font-family: sans-serif;
}
.contenedor{
    margin: 0;
    position: relative;
    z-index: 0;
}
.contenedor__texto{
    margin: 0;
    text-align: justify;
    padding: 0;
}
.contenedor__opacidad{
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #fff);
    position:absolute;
    bottom: 0;
    z-index: 10;
}
.contenedor__modal {
    position: fixed;
    z-index: 20;
    background-color: #fff;
    border-radius: 3px;
    width: 350px;
    top: 80px;
    right: 0;
    box-shadow: 0 0 30px 0px #000d;
}
.contenedor__modal__titulo{
    margin: 0;
    text-align: center;
}
.contenedor__modal__contenido {
    margin: 0;
    margin: 5px 10px;
    font-size: .1em;
    text-align: justify;
}
.contenedor__modal__acepto {
    text-align: center;
    margin: 6px;
    font-style: italic;
    font-weight: bold;
}
.contenedor__texto__sticky {
    position: sticky;
    font-size: 4em;
    z-index: 30;
    background-color: red;
    width: 60px;
    height: 70px;
    text-align: center;
    font-weight: bold;
}
.contenedor__texto__sticky--1{
    top: 20px;
    left: 10px;
}
.contenedor__texto__sticky--2{
    top: 95px;
    left: 75px;
}
.contenedor__texto__sticky--3{
    top: 170px;
    left: 140px;
}
.contenedor__texto__sticky--4{
    top: 245px;
    left: 205px;
}
.contenedor__texto__sticky--5{
    top: 170px;
    left: 270px;
}
.contenedor__texto__sticky--6{
    top: 95px;
    left: 335px;
    opacity: 0.8;
}